
body {
    font-family: sans-serif;
    font-size: small;
}
.title {
    /* Center the title  at top with blue background white text */
    background-color: blue;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: large;
    font-weight: bold;
}
.address, .onlinetext {
    color: green;
}
.id {
    color: blue;
}
.offlinetext {
    color: red;
}
.version {
    color: rgb(195, 172, 89);
}
table {
    border-collapse: collapse;
}
tr {
    border: 1px solid black;
}
td, th {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
tbody tr:nth-child(even) {
    background-color: #eeeeee;
}
thead {
    background-color: gray;
    color: white;
    text-align: left;
    padding: auto;
}
a:link, a:visited {
    color: black;
    text-decoration: underline;
}
a:hover, a:active {
    background-color: black;
    color: white;
}
.lcolumn {
    flex: 60%;
    padding: 5px;
}
.rcolumn {
    flex: 40%;
    padding: 5px;
}
.row {
    /* Full window height minus title and button */
    height: calc(100vh - 100px);
    /* Allow scroll */
    overflow: auto;
    display: flex;
  }
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.value {
    color: rgb(73, 73, 73);
}
.button {
    /* put button a bottom of the page */
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    /* make it look like a button */
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
