#
pycryptodome        # Encryption - AES can also be provided via PyCrypto or pyaes
requests            # Used for Setup Wizard - Tuya IoT Platform calls
colorama            # Makes ANSI escape character sequences work under MS Windows.
python-dotenv       # Reads .env file for environment variables
